
body {
  background-color: rgb(241, 245, 245);
  text-align: center;
  margin: 0;
  font-family: Nunito, sans-serif;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
}

p {
  font-weight: bold;
  font-size: 1.1rem;
  color: #40514E;
  line-height: 2;
}

h1 {
  color: #66BFBF;
  font-family: Sacramento, cursive;
  font-size: 5.0rem;
  margin: 50px auto 0 auto;
  animation-name: emerge;
  animation-duration: 1s;
  animation-duration: linear;
}

h2 {
  color: #66BFBF;
  font-size: 2.0rem;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

h3 {
  color: #11999E;
  font-family: Montserrat, sans-serif;
}

h4 {
  font-family: Montserrat, sans-serif;
}

hr {
  border-style: dotted none none none;
  width: 5%;
  border-width: 7.5px;
  border-color: lightgrey;
  margin: 75px auto 75px;
}


/************************* Class Selectors **********************************/

.about {
  padding: 40px 150px;
}

.about h2 {
  font-size: 1.5rem;
}

.about p {
  font-size: 1.2rem;
}

.contents {
  margin: 30px 0;
  display: inline-flex;
  width: 1000px;
  flex-direction: column;
  gap: 30px;
}

.contents section {
  background-color: white;
  border-radius: 20px;

}


.credit {
  margin: 0;
  font-size: 0.73rem;
  color: white;
}


.bottom-container {
  min-height: 80px;
  background-color: #66BFBF;
  margin: 0;
  padding-top: 15px;

}

.footer {
  font-size: 0.80rem;
  color: white;
  margin: 13px 0 0;
}

.footer-link {
  font-size: 1.2rem;
  margin: 0 25px 0 25px;
  text-decoration: none;
  font-weight: bold;
  color: #11999E;
}

.footer-link:hover {
  font-size: 1.2rem;
  color: #EAF6F6;
  font-weight: bolder;
}

.first-cloud {
  position: absolute;
  top: 50px;
  right: 220px;
  width: 200px;
  animation-name: moveCloud1;
  animation-duration: 1.5s;
}

.into-cont {
  font-size: 1.2rem;
  padding-left: 15%;
}

.nope {
  margin-top: 70px;
  color: #40514E;
  font-size: 1.55rem;
}

.opening {
  
  overflow-x: hidden;  /*to prevent horizontal scrolling transforms out of bounds during animation*/
  height: 680px;
  margin: 0;
  position: relative;
  padding-top: 100px;
  background-color: #e4fafa;
}

.mountain {
  position: absolute;
  left: 355px;
  bottom: 5px;
  width: 800px;

}

.profile-pic {
  border-radius: 100px;
  box-shadow: 0 5px 12px  gray;
  height: 200px;
  width: 200px;
}

.project-link {
  color: #40514E;
}

.second-cloud {
  position: absolute;
  bottom: 300px;
  left: 220px;
  width: 200px;
  animation-name: moveCloud2;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.skill {
  width: 100%;
}

.skill-image-1 {
  float: left;
  margin-right: 30px;
  width: 20%;
}

.skill-image-2 {
  float: right;
  margin-left: 30px;
  width: 20%;
}

.skill-image-3 {
  float: left;
  margin-right: 30px;
  width: 20%;
}

.skill-row {
  text-align: left;
  margin: 70px auto 70px;
  width: 58%;
  min-height: 160px;
}

.top-skill-row {
  margin-top: 80px auto 70px;
  ;
}

.closing {
  background-color: #292929;
  padding: 25px;
}

.contact-p {
  color: #EAF6F6;
  width: 55%;
}

.BUTTON_RTQ {
  background: #3DF6E5;
  background-image: -webkit-linear-gradient(top, #3DF6E5, #026B83);
  background-image: -moz-linear-gradient(top, #3DF6E5, #026B83);
  background-image: -ms-linear-gradient(top, #3DF6E5, #026B83);
  background-image: -o-linear-gradient(top, #3DF6E5, #026B83);
  background-image: linear-gradient(to bottom, #3DF6E5, #026B83);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  color: #FFFFFF;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 13px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #1D3F54 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 5px auto 50px;
}

.BUTTON_RTQ:hover {
  border: solid #337FED 1px;
  background: #719FD9;
  background-image: -webkit-linear-gradient(top, #719FD9, #1F95C3);
  background-image: -moz-linear-gradient(top, #719FD9, #1F95C3);
  background-image: -ms-linear-gradient(top, #719FD9, #1F95C3);
  background-image: -o-linear-gradient(top, #719FD9, #1F95C3);
  background-image: linear-gradient(to bottom, #719FD9, #1F95C3);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  text-decoration: none;
}

.btn {
  background: #53cfcf;
  background-image: -webkit-linear-gradient(top, #53cfcf, #2b7575);
  background-image: -moz-linear-gradient(top, #53cfcf, #2b7575);
  background-image: -ms-linear-gradient(top, #53cfcf, #2b7575);
  background-image: -o-linear-gradient(top, #53cfcf, #2b7575);
  background-image: linear-gradient(to bottom, #53cfcf, #2b7575);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  min-width: 112px;
  margin: 0 10px 20px 10px;
}

.btn:hover {
  background: #5ad6d6;
  background-image: -webkit-linear-gradient(top, #5ad6d6, #44a3a3);
  background-image: -moz-linear-gradient(top, #5ad6d6, #44a3a3);
  background-image: -ms-linear-gradient(top, #5ad6d6, #44a3a3);
  background-image: -o-linear-gradient(top, #5ad6d6, #44a3a3);
  background-image: linear-gradient(to bottom, #5ad6d6, #44a3a3);
  text-decoration: none;
  min-width: 112px;
}



.m {
  margin: 40px auto 40px;
}

/************************* Animation Keyframes **********************************/

@keyframes moveCloud1 {
  from {
    right: 0px;
  }

  to {
    right: 220px
  }
}

@keyframes moveCloud2 {
  from {
    left: 0px;
  }

  to {
    left: 220px
  }
}

@keyframes emerge {
  from {
    opacity: 0%;
    transform: scale(2.5);
  }

  to {
    opacity: 100%;
    transform: scale(1);
  }
}